body{
    background-color: gray;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 0 0 ;
}
h1{
    margin: 30px;
    padding-top: 20px;
    text-shadow: black 5px 0;
    font-size: 8rem;
 
    color: #4ECCA3;;
}
p{
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}
footer{
    margin-top: 5%;
}
img{
    width: 200px;
    height: 200px;
}
.container{
    width: 70%;
    margin: auto;
}
.dice{
    display: inline-block;
}

.result{
   font-size: 6rem;
}